.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: middle;
  height: 50px;
  text-align: center;
}
.content table {
  width: 80%;
  margin: 0 auto;
}

h1,
h3,
h4 {
  text-align: center;
}

button {
  display: flex;
  margin: auto;
}

.content table tr:hover {
  background-color: transparent;
}

.airplane-tile:hover {
  cursor: pointer;
}

.winner-section {
  height: 150px;
}

.game-list {
  margin-top: 50px;
}
